
@import url("https://yjh1863.github.io/anilist/files/background.css");
@import url("https://yjh1863.github.io/anilist/files/banner-remove.css");
@import url("https://yjh1863.github.io/anilist/files/colour-theme-2.css");
@import url("https://yjh1863.github.io/anilist/files/colour-theme.css");
@import url("https://yjh1863.github.io/anilist/files/favourites.css");
@import url("https://yjh1863.github.io/anilist/files/feed.css");
@import url("https://yjh1863.github.io/anilist/files/font.css");
@import url("https://yjh1863.github.io/anilist/files/footer.css");
@import url("https://yjh1863.github.io/anilist/files/navbar-2.css");
@import url("https://yjh1863.github.io/anilist/files/navbar.css");
@import url("https://yjh1863.github.io/anilist/files/stats-3.css");
@import url("https://yjh1863.github.io/anilist/files/stats.css");
@import url("https://yjh1863.github.io/anilist/files/stats2.css");
@import url("https://yjh1863.github.io/anilist/files/top-nav-2.css");
@import url("https://yjh1863.github.io/anilist/files/top-nav.css");
