/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* background */
:root{
    --background: url("https://i.imgur.com/SvzZSfe.png");
                        /* Put your background here ^^ */
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 75% auto !important;
}

#wrapper {
    margin: 0 auto;
}

figure {
    float: left;
    display: inline-block;
    height: auto;
}

p {
    clear: both;
}
